@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --background-color:rgb(31,31,33);
    --color-principal:rgb(0, 225, 255);
    --color-texto:rgb(255, 255, 255);
    --color-hover:rgb(125, 176, 243);
    --color-titulo:rgb(234, 217, 200);
    --color-morado:rgb(140, 1, 145);
}
.container3{
	width: 1280px;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.container3 .subtitulo h2{
    -webkit-text-stroke: 1px var(--color-principal);
    color: var(--color-texto);
    font-size: 3vw;
}
.container3 .box3{
	position: relative;
	width: 90%;
	height: 300px;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	border-radius: 30px;
}
.container3 .box3 .imgBox3{
	position: relative;
	text-align: center;
	align-items: center;
}
.container3 .box3 .imgBox3 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	object-position: left;
	transition: 2s;
	border-radius: 30px;
	float: left;
	margin-right: 15px;
}
.container3 .box3 .imgBox3 h3{
	color: var(--color-titulo);
	-webkit-text-stroke: 1px var(--color-principal);
	font-size: 3vw;
	padding-top: 55px;
}
.container3 .box3 .imgBox3 p{
	color: var(--color-titulo);
	font-size: 1.5vw;
}
.container3 .box3 .imgBox4{
	position: relative;
	text-align: center;
	align-items: center;
}
.container3 .box3 .imgBox4 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	object-position: left;
	transition: 2s;
	border-radius: 30px;
	float: right;
	margin-right: 15px;
}
.container3 .box3 .imgBox4 h3{
	color: var(--color-titulo);
	-webkit-text-stroke: 1px var(--color-principal);
	font-size: 3vw;
	padding-top: 55px;
}
.container3 .box3 .imgBox4 p{
	color: var(--color-titulo);
	font-size: 1.5vw;
}
.container3 .box3:hover .imgBox3 img{
	transform: scale(1);
}
.container3 .box3 .details3{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:
        repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
        calc(.5*var(--s)) calc(.5*var(--s)*0.577),
        repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
	transition: 1s;
	opacity: 0;
	filter: blur(10px);
	transform: scale(1.5);
	border-radius: 30px;
	color: var(--color-texto);
}
.container3 .box3:hover .details3{
	opacity: 1;
	filter: blur(0px);
	transform: scale(1);
}
.container3 .box3 .details3 .content3{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
}
.container3 .box3 .details3 .content3 h3{
	margin: 0;
	padding: 0;
	font-size: 30px;
	-webkit-text-stroke: 1px var(--color-principal);
}
.container3 .box3 .details3 .content3 p{
	margin: 10px 0 0;
	padding: 0;
	line-height: 24px;
}
.container3 .box3 .details3 .content3 a{
	color: var(--color-texto);
	margin: 5px;
}
.container3 .box3 .details3 .content3 ion-icon{
	width: 60px;
	height: 60px;
}
.container3 .box3 .details3 .content3 svg{
	height: 60px;
	width: 60px;
}
@media screen and (max-width: 1200px) {
	.container3 {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.container3 .box3 .details3 .content3 h3{
		font-size: 10px;
	}
	.container3 .box3 .details3 .content3 p{
		font-size: 8px;
	}
	.container3 .box3 .details3 .content3 a{
		font-size: 10px;
	}
	.container3 .subtitulo h2{
		font-size: 8vw;
	}
	.container3 .box3 .details3 .content3 ion-icon{
		width: 20px;
		height: 20px;
	}
	.container3 .box3 .details3 .content3 svg{
		width: 20px;
		height: 20px;
	}
}